[submodule "doctorate-examples"]
	path = doctorate-examples
	url = git@github.com:lucasPereira/doctorate-examples.git
[submodule "roza"]
	path = roza
	url = git@github.com:lucasPereira/roza.git
[submodule "an-architecture-for-automatic-test-setup-code-refactoring-ieee-access"]
	path = an-architecture-for-automatic-test-setup-code-refactoring-ieee-access
	url = git@github.com:lucasPereira/an-architecture-for-automatic-test-setup-code-refactoring-ieee-access.git
