[submodule "doctorate-examples"]
	path = doctorate-examples
	url = git@github.com:lucasPereira/doctorate-examples.git
[submodule "roza"]
	path = roza
	url = git@github.com:lucasPereira/roza.git
[submodule "a-reuse-oriented-framework-for-automated-test-code-refactoring"]
	path = a-reuse-oriented-framework-for-automated-test-code-refactoring
	url = git@github.com:lucasPereira/a-reuse-oriented-framework-for-automated-test-code-refactoring.git
